* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.black {
    background-color: black;
    color: black;
    height: 20vh;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
}

.center {
    display: flex;
    gap: 1rem;
}

.orange {
    background-color: orange;
    color: orange;
    flex: 2;
}

.green {
    background-color: green;
    color: green;
    flex: 1;
    height: 60vh;
}

.blue {
    background-color: blue;
    color: blue;
    height: 20vh;
}