* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    font-size: 10rem;
    text-align: center;
}

.div1 {
    background-color: lightgreen;
}

.div2 {
    background-color: lightblue;
}

.div3 {
    background-color: purple;
}

.div4 {
    background-color: darkslategrey;
}

.div5 {
    background-color: yellow;
}

.div6 {
    background-color: orange;
}

.div7 {
    background-color: darkred;
}

.div8 {
    background-color: grey;
}

.div9 {
    background-color: lightgreen;
}

.div10 {
    background-color: darkolivegreen;
}