.div1{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8B441F;
  height: 40vh;
}

.div2{
  display: flex;
  justify-content: center;
  height: 10vh;
  background-color: #D2A262;
  
}
.div2 button{
  color: green;
  background: none;
  border: none;
  margin-left: 1rem;
}

.div3{
  height: 50vh;
  background-color: #D2A262;
}
.div3 p, h2{
  margin-bottom: 1rem;
}
.div3 p:nth-child(2), p:nth-child(3){
  color: #8B441F;
}

