* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding: 1rem;
    justify-content: start;
    gap: 1rem;
}

.card {
    border: 1px solid black;
    background-color: white;
    width: 70%;
    padding: 0.5rem;
}

.card h2 {
    margin: 1rem 0;
}

.card p {
    margin-bottom: 1rem;
}

.card.diff {
    color: red;
}

.card.diff p {
    border: 1px dotted red;
}