* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 50%;
    background-color: rgb(73, 209, 255);
    border-radius: 0.5rem;
    padding: 1rem;
}

.container h3 {
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}

.container input, .txt-area {
    width: 100%;
    padding: 0.25rem;
    margin: 0.25rem;
    border: none;
    border-radius: 0.25rem;
    outline: none;
}

.txt-area {
    height: 10rem;
}

.send-btn {
    background-color: #0a4fa8;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin-left: 0.25rem;
}